# Ignore everything
/*

# Explicitly add everything which is really needed
!.drone.yml
!.gitignore
!.clang-format
!src
!toolchains
!CMakeLists.txt
!build.sh
!Dockerfile
!README.md
!LICENSE
!.gitignore
!.drone.yml

src/cmake-build-debug
src/.idea